<section class="container">
  <div class="header">
    <p>WELCOME BACK!</p>
  </div>
  <div class="content">
    <h3 class="content-title">LOGIN</h3>
    <form>
      <div>
        <p>Email</p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email address</mat-label>
            <input matInput />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div>
        <p>Password</p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput />
            <mat-icon matSuffix>key</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <button mat-raised-button color="primary">LOGIN</button>
    </form>
    <p class="register">
      Don't have an account? <a routerLink="/auth/register">SIGN UP</a>
    </p>
  </div>
</section>
